/* @import url('https://fonts.googleapis.com/css2?family=FontName&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Literata", serif;
}

.logo-img {
  width: 150px;
  height: auto;
  margin-top: 10px;
}

.navbar-brand .company-logo {
  width: 250px;
  height: auto;
  /* margin-top: 10px; */
}

:root {
  --bs-dark-color: #1a1d20;
  --bs-dark-primary: #1c1c1c;
  --bs-main-color: #fff;
  --bs-primary-color: #c6c6c6;
  --secondary-color: #29a9fd;
  --secondary-third-color: #38a4ecce;
  --bs-supportin-color: #c850c0;
  --bs-logo-primary-color: #cd9d41;
  --bs-logo-secondary-color: #a27841;
}

h1,
h2,
h3,
h4 {
  font-family: "Lexend Deca", sans-serif;
  color: var(--bs-dark-color);
  text-transform: capitalize;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  line-height: 3rem;
  font-weight: 600;
  font-size: 3.4rem;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: var(--bs-dark-color);
  letter-spacing: 0.07rem;
  line-height: 1.55rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
a {
  font-size: 15px;
  letter-spacing: 0.03rem;
  word-spacing: 0.1rem;
}

.footerLinkFont {
  color: #fff;
  font-size: 15px;

  &:hover {
    color: #2cd4ef;
    transition: 200ms ease-in;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* .aboutpw-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} */

.maharera-img {
  margin-top: 10px;
}

.maharera-text {
  margin-top: 4px;
  margin-left: 16px;
}

/* body section */

.object-fit-contain {
  margin-top: 25px;
}
/* heading section */
.common-heading {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.01rem !important;
}

.commom-title {
  margin-bottom: 4.2rem;
}

/* Hero Section */

.hero-video--section {
  /* max-width: 100%;
    height: auto; */
  width: 30rem;
  border-radius: 2rem;
}

#search-area-4 {
  transition: all 0.4s;
  position: absolute;
  bottom: -25px;
  width: 100%;
}

#search-area-4 .search-area-inner {
  padding: 30px 30px 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.search-area .search-fields {
  min-height: 45px;
  padding: 0;
  background: #fff;
  border-radius: 3px;
  width: 100% !important;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}

/* image section  */
.image-section {
  /* max-width: 100%;
    height: auto; */
  width: 30rem;
  border-radius: 2rem;
}

.image-flude {
  /* max-width: 100%;
    height: auto; */
  width: 30rem;
  border-radius: 2rem;
}

.sticky-header {
  position: fixed;
  background: transparent;
  top: 40px;
  z-index: 999;
  width: 100%;
}

.header-shrink {
  background: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  top: 0px !important;
}

.carosuel-image {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-caption-text-content {
  position: absolute;
  top: 25%;
  /* left: 5rem; */
  width: 40rem;
  height: 15rem;
  transform: translate(10px, 10px);
  /* Add some padding to adjust the position */
  background-color: rgba(0, 0, 0, 0.5);
  /* Optional: Add a background color to make the caption more readable */
  padding: 10px;
  /* Optional: Add padding */
  text-align: start;
}

.carousel-double-caption {
  display: flex;
  justify-content: space-between;
}

.hero-section .container {
  display: grid;
  place-content: center;
  height: inherit;
}

/* banner second sectio  */
.we-more-info-section {
  background-image: linear-gradient(
      rgba(22, 22, 22, 0.9),
      rgba(22, 22, 22, 0.9)
    ),
    url("https://images.pexels.com/photos/262367/pexels-photo-262367.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 6rem 0;
  overflow: hidden;
}

.re-more-information-section {
  padding: 5rem 0 0.5rem;
  overflow: hidden;
}

.more-info-section .container {
  display: grid;
  place-content: center;
  height: inherit;
}

.bg-main {
  height: 100vh;
  position: relative;
}

.bg-color {
  background-color: var(--bs-dark-color);
}
/* Navibar sticky code  and navbar section*/
/* color:#CD9D41; */
/* color:#A27841; */
.company-logo {
  /* position: fixed; */
  left: 0;
  width: 150px;
  /* top: 14px; */
  object-fit: contain;
  padding-left: 30px;
  cursor: pointer;
}
.navbar {
  padding: 15px 0;
}

.nav-bg-color {
  /* background-color: var(--secondary-third-color); */
  /* background-color: transparent; */
  /* height: 80vh; */
  background-color: black;
  position: relative;
}

.nav-link {
  color: var(--bs-logo-secondary-color) !important;
}
.nav-link:active {
  color: white !important;
}

.nav-link:hover {
  color: var(--bs-logo-primary-color);
}

.text-light-grey {
  color: var(--bs-primary-color);
}
.bg-color {
  background-color: var(--bs-dark-color);
}
/* navigatin section end  */

/* about start section */
/* Style for the about info */
.aboutus-info {
  padding: 20px;
}

.aboutus-info h3 {
  font-size: 24px;
  color: var(--bs-dark-primary);
  margin-top: 20px;
  margin-bottom: 15px;
}

.aboutus-info p {
  font-size: 16px;
  color: var(--bs-dark-color);
  line-height: 1.6;
}

/* Style for the aboutus-carousel */
.aboutus-carousel {
  margin-bottom: 20px;
}

.aboutus-item img {
  max-width: 100%;
  height: auto;
}

.aboutus-img-fluid {
  width: 100%;
  margin-top: 20px;
}

/* Style for the main title */
.aboutus-main-title {
  text-align: center;
  margin-bottom: 20px;
}

.aboutus-main-title h1 {
  font-size: 24px;
  color: var(--bs-dark-primary);
}

/* Style for the agent details */
.agent-details {
  text-align: center;
}

.agent-details h5 a {
  font-size: 18px;
  color: var(--bs-dark-color);
  margin-bottom: 5px;
}

.agent-details p {
  font-size: 14px;
  color: var(--bs-dark-color);
}

/* Style for the agent grid */
.agent-2 {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

/* about end section */

/* waves screen spliting section  */
.custom-shape-divider-bottom-1689170019 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689170019 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689170019 .shape-fill {
  fill: #ffffff;
}

/* Production /commpn section / Center Heading sections*/

.services-section {
  padding: 0 0 7rem 0;
  background: var(--bs-logo-primary-color);
  /* background-color: rgba(128, 128, 128, 0.37); */
  /* background-image: linear-gradient(rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.9)) */
  /* padding: 6rem 0 3rem 0 !important; */
  /* padding: 6rem 0 3rem 0 !important; */
}

/* properties section css start */
.properties-section {
  padding: 0 0 7rem 0;
}

/* properties css section end */

.common-section {
  padding: 6rem 0 6rem 0 !important;
}

.contact-section {
  /* padding: 6rem 0 3rem 0 !important; */
  padding: 0 0 2rem 0;
}

/* carousel Section  */

.carousel .card {
  background-color: #262631;
  color: var(--bs-main-color);
  transition: all 0.3s linear;
}

.carousel-inner .card p {
  color: var(--bs-main-color);
}

.carousel-inner .card:hover {
  background: var(--bs-main-color);
  color: var(--bs-dark-color);
}

.carousel-inner .card:hover p {
  color: var(--bs-dark-color);
}

.fa-star {
  color: var(--bs-supportin-color);
}

.fa-star-half {
  color: var(--bs-supportin-color);
}

.carousel-indicators {
  bottom: -10%;
}

/* We Belive Section Start */
.media-services-info {
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
  height: 174px;
  /* box-shadow: 2px 2px 3px #5a5a5a; */
}

.media-services-info i {
  color: #0056b3;
  font-size: 40px;
  width: 58px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.media-body {
  flex: 1;
}

.services-info h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  margin: 8px 0 10px;
}

/* We Belive Section  end*/
/* contact section design and shape devider */
.contact-section {
  position: relative;
}

.contact-section .commom-title {
  padding-top: 6rem;
}

.contact-section .form-section {
  width: 50%;
}

.custom-shape-divider-top-1689071027 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1689071027 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1689071027 .shape-fill {
  fill: #ffffff;
}

/* Career form section */
.career-section {
  display: flex;
  margin-top: 80px;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.career-form-section {
  width: 70%;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 16px;
}

.career-form-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* button section start */
.btn-primary {
  background: var(--bs-logo-primary-color);
  border: none;
}
.send-btn {
  text-align: center;
  margin-bottom: 10px;
  /* margin-top: 5px; */
}

.send-btn button {
  padding: 10px 20px;
  /* background-color: #007bff; */
  color: #fff;
  display: flex;
  align-items: start;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-btn button:hover {
  background-color: #0056b3;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
}

.contact-info .img-fluid {
  /* height: auto;
  max-width: 100%; */
  width: 75%;
}

/* Feedback form section */
.post-btn {
  text-align: center;
  margin-bottom: 10px;
  /* margin-top: 5px; */
}

.post-btn button {
  padding: 10px 20px;
  background-color: #ef9908;
  color: #fff;
  border: none;
  display: flex;
  align-items: start;
  border-radius: 4px;
  cursor: pointer;
}

/* button section end */

/* media query section  */

@media screen and (max-width: 1200px) {
  .hero-video--section {
    width: 20rem;
    border-radius: 1rem;
  }

  .image-flude {
    width: 20rem;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 998px) {
  .navbar-toggler {
    border-color: var(--bs-main-color);
  }

  .footer-res {
    display: flex;
    justify-content: center;
  }

  .navbar-toggler-icon {
    color: var(--bs-main-color);
    background-color: var(--bs-main-color);
    /* background-color: var(--secondary-color); */
  }

  .navbar-toggler-icon {
    color: var(--bs-main-color);
    background-color: var(--bs-main-color);
  }

  h1 {
    font-size: 2.4rem;
  }

  section .common-heading {
    font-size: 2rem;
  }

  section .para-with {
    width: auto;
  }

  .hero-section {
    height: 70vh;
  }

  .career-section {
    display: flow-root;
  }

  .career-form-section {
    width: 50%;
  }

  .contact-info .img-fluid {
    /* height: auto;
    max-width: 100%; */
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .carousel-caption-text-content {
    padding: 25px 20px;
    position: absolute;
    top: 20%;
    left: 1.3rem;
    width: 18rem;
    height: 15rem;
  }
  .carosuel-image {
    height: 62vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/*start contact from  */
.contact-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* end contact from */
@media screen and (max-width: 600px) {
  .maharera-img {
    margin-left: 5px;
  }

  .maharera-text {
    margin-left: 5px;
  }
  /*start Style responsive for contact form inputs */
  .contact-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
  }
  .contact-form-control {
    width: 150%;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .contactBtn {
    display: flex;
  }
  /*end Style responsive for contact form inputs */
}

@media screen and (max-width: 360px) {
  .navbar-brand .company-logo {
    width: 200px;
    height: auto;
    margin-left: -40px;
    /* margin-top: 10px; */
  }

  .img-section img {
    width: 90%;
  }

  .footer-res {
    display: flex;
    justify-content: center;
  }

  .capcha-res {
    width: 200px;
    height: 50px;
  }

  /* start aboutus style for responsive */
  .aboutus-img-fluid {
    width: 70%;
    margin-top: 30px;
    margin-left: 50px;
  }
  .aboutus-info h3 {
    margin-top: 20px;
  }
  .aboutus-main-title {
    margin-top: 10px;
  }
  .invs-img-fluid {
    margin-top: 20px;
  }
  .common-title {
    margin-top: 20px;
  }
  /* end aboutus style for responsive */

  /*start Style responsive for contact form inputs */
  .contact-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: -90px;
  }

  .contact-form-control {
    width: 150%;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .contactBtn {
    display: flex;
  }
  .w-25 {
    width: 45% !important;
  }

  /*end Style responsive for contact form inputs */
}

@media screen and (max-width: 320px) {
  .navbar-brand .company-logo {
    width: 200px;
    height: auto;
    margin-left: -40px;
    /* margin-top: 10px; */
  }

  .img-section img {
    width: 90%;
  }

  .footer-res {
    display: flex;
    justify-content: center;
  }

  .capcha-res {
    width: 200px;
    height: 50px;
  }

  /* start aboutus style for responsive */
  .aboutus-img-fluid {
    width: 70%;
    margin-top: 30px;
    margin-left: 50px;
  }
  .aboutus-info h3 {
    margin-top: 20px;
  }
  .aboutus-main-title {
    margin-top: 10px;
  }
  .invs-img-fluid {
    margin-top: 20px;
  }
  .common-title {
    margin-top: 20px;
  }
  /* end aboutus style for responsive */

  /*start Style responsive for contact form inputs */
  .contact-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: -90px;
  }

  .contact-form-control {
    width: 150%;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .contactBtn {
    display: flex;
  }
  .w-25 {
    width: 45% !important;
  }

  /*end Style responsive for contact form inputs */
}
